<h1>Welcome to Link Board</h1>

<div class="row">
  <div class="col-xs-12 col-sm-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Link</th>
          <th>Post</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><a href="<%=post.link%>"><%=post.link%></td>
            <td><%= post.post %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
