.navbar-default {
  /* background-color: #f8f8f8; */
  /* border-color: #e7e7e7; */
  background-color: #fff;
  border-color: #fff;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
}

table.no-pad .btn {
  padding: 0;
}

.comments {
  margin-top: 20px;
}
.comment-info {
  color: #A7A7A7;
  margin-bottom: 20px;
}

#screen_name {
  float: left;
}

#created_at {
  float: right;
}
